/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 2rem;
}


h3 {
	font-size: 1.6rem;
	line-height: 1.3;
	color: #ededed;
}

a {
	cursor: pointer;
}

.img-fluid {

}

.display-3 {
	font-size: 4.8rem;
	font-weight: 600;
	line-height: 1.05;
	color: #ffffff;
	padding-bottom: 3%;
}

.jumbotron {
	padding-top: 10%;
	background-color: #edab0c;
	border-radius: 0;
}

.contacts {
	padding-top: 3%;
}


.contacts a {
    padding: 8px;
    vertical-align: top;
}

.contacts a img {
    max-width: 50%;
}

.contacts>a:hover {
    opacity: 0.7;
}

.btn {
	border: 3px solid transparent;
}

.btn-primary {
    color: #fff;
    background-color: #edab0c;
    border-color: #edab0c;
}

.secondContent>p>a:hover {
    color: #edab0c;
    background-color: #fff;
    border-color: #edab0c;
}

.secondContent {
	margin: auto;
	padding-top: 5%;
	text-align: center;
}
